{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Add Question</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>
            <p>
                {{ form.quiz_id.label }}<br>
                {{ form.quiz_id() }}
            </p>
            <p>
                {{ form.choices.label }}<br>
                {{ form.choices(size=32) }}<br>
                <small>Enter choices separated by commas</small>
            </p>
            <p>
                {{ form.correct_choice.label }}<br>
                {{ form.correct_choice(size=32) }}
            </p>
            <button type="submit">{{ form.submit.label }}</button>
        </form>
    </div>
{% endblock %}
