<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ألاختبار التفاعلي</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="landing-page">
        <img src="https://cdn.pixabay.com/photo/2017/08/30/10/29/test-2690639_960_720.jpg" alt="fix me in front.html">
        <h1>Interactive Quiz Journey!</h1>
        <div class="line"></div>
        <button onclick="window.location.href='/login'">Have Account</button>
        <button onclick="window.location.href='/register'">Creat Account</button>
        <button onclick="window.location.href='/Quiz'">Guest</button>
    </div>
</body>
</html>