{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Log in</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}  <!-- تضمين رمز CSRF -->
            <p>
                <label for="username">{{ form.username.label }}</label><br>
                {{ form.username(size=32) }}
            </p>
            <p>
                <label for="password">{{ form.password.label }}</label><br>
                {{ form.password(size=32) }}
            </p>
            <button type="submit">{{ form.submit.label }}</button>
        </form>
        <a href="{{ url_for('main.register') }}">Have no account? Sign up now!</a>
    </div>
{% endblock %}