<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جميع الاختبارات</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>قائمة الاختبارات</h1>
    <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ url_for('main.take_quiz', quiz_id=quiz.id) }}">{{ quiz.title }}</a></li>
        {% else %}
            <li>لا توجد اختبارات متاحة حاليًا.</li>
        {% endfor %}
    </ul>
</body>
</html>